In [9]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [4]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])

my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
my_index = my_ser.index

my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [6]:
my_index[2]

'C'

In [7]:
my_index[2:]

Index([u'C', u'D'], dtype='object')

In [8]:
my_index[0]

'A'

Indexes are immutable!

In [11]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [13]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [14]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [15]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [16]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [17]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  0.160114  2.193542  0.399681  0.733381  0.149701
B -1.348884  1.168910 -0.069172  0.920361  0.255869
D -0.237033 -1.334623  1.014406  2.961482 -0.141433
E -0.525878 -0.371367  0.925588 -0.179797 -2.025668
F  0.643492  0.883692 -1.189124  0.147061 -0.054723

In [19]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.160114  2.193542  0.399681  0.733381  0.149701
B -1.348884  1.168910 -0.069172  0.920361  0.255869
C       NaN       NaN       NaN       NaN       NaN
D -0.237033 -1.334623  1.014406  2.961482 -0.141433
E -0.525878 -0.371367  0.925588 -0.179797 -2.025668
F  0.643492  0.883692 -1.189124  0.147061 -0.054723

In [20]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [22]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.160114  2.193542  0.399681  0.733381  0.149701   NaN
B -1.348884  1.168910 -0.069172  0.920361  0.255869   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.237033 -1.334623  1.014406  2.961482 -0.141433   NaN
E -0.525878 -0.371367  0.925588 -0.179797 -2.025668   NaN
F  0.643492  0.883692 -1.189124  0.147061 -0.054723   NaN

In [23]:
dframe

       col1      col2      col3      col4      col5
A  0.160114  2.193542  0.399681  0.733381  0.149701
B -1.348884  1.168910 -0.069172  0.920361  0.255869
D -0.237033 -1.334623  1.014406  2.961482 -0.141433
E -0.525878 -0.371367  0.925588 -0.179797 -2.025668
F  0.643492  0.883692 -1.189124  0.147061 -0.054723

In [24]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.160114  2.193542  0.399681  0.733381  0.149701   NaN
B -1.348884  1.168910 -0.069172  0.920361  0.255869   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.237033 -1.334623  1.014406  2.961482 -0.141433   NaN
E -0.525878 -0.371367  0.925588 -0.179797 -2.025668   NaN
F  0.643492  0.883692 -1.189124  0.147061 -0.054723   NaN