In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series([0,1,2],index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int64

In [3]:
ser2 = Series([3,4,5,6],index=['A','B','C','D'])
ser2

A    3
B    4
C    5
D    6
dtype: int64

In [4]:
ser1 + ser2

A     3
B     5
C     7
D   NaN
dtype: float64

In [5]:
dframe1 = DataFrame(np.arange(4).reshape((2,2)),columns=list('AB'),
                    index=['NYC','LA'])
dframe1

     A  B
NYC  0  1
LA   2  3

In [6]:
dframe2 = DataFrame(np.arange(9).reshape((3,3)),columns=list('ADC'),
                   index=['NYC','SF','LA'])
dframe2

     A  D  C
NYC  0  1  2
SF   3  4  5
LA   6  7  8

In [7]:
dframe1 + dframe2

      A   B   C   D
LA    8 NaN NaN NaN
NYC   0 NaN NaN NaN
SF  NaN NaN NaN NaN

In [8]:
dframe1.add(dframe2,fill_value=0)

     A   B  C  D
LA   8   3  8  7
NYC  0   1  2  1
SF   3 NaN  5  4

In [9]:
ser3 = dframe2.ix[0]
ser3

A    0
D    1
C    2
Name: NYC, dtype: int32

In [10]:
dframe2 - ser3

     A  D  C
NYC  0  0  0
SF   3  3  3
LA   6  6  6

<BOL>----------------------------------------------------</BOL>

In [11]:
ser1 = Series(range(3),index=['C','A','B'])
ser1

C    0
A    1
B    2
dtype: int64

In [12]:
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [13]:
ser1.order()

C    0
A    1
B    2
dtype: int64

In [14]:
from numpy.random import randn

In [15]:
ser2 = Series(randn(10))
ser2

0    1.058572
1   -0.032530
2   -0.134880
3    0.166532
4    0.419401
5    1.985502
6   -0.459113
7    0.096211
8    0.195558
9   -0.016883
dtype: float64

In [17]:
ser2.sort()
ser2

6   -0.459113
2   -0.134880
1   -0.032530
9   -0.016883
7    0.096211
3    0.166532
8    0.195558
4    0.419401
0    1.058572
5    1.985502
dtype: float64

In [18]:
ser2.rank()

6     1
2     2
1     3
9     4
7     5
3     6
8     7
4     8
0     9
5    10
dtype: float64

In [19]:
ser3 = Series(randn(10))
ser3

0    1.565436
1   -0.273187
2    0.515027
3   -0.277065
4   -1.383204
5   -1.252452
6    0.109534
7   -0.394735
8   -0.575245
9    0.878482
dtype: float64

In [21]:
ser3.rank()

0    10
1     6
2     8
3     5
4     1
5     2
6     7
7     4
8     3
9     9
dtype: float64

In [22]:
ser3.sort()
ser3.rank()

4     1
5     2
8     3
7     4
3     5
1     6
6     7
2     8
9     9
0    10
dtype: float64

In [23]:
ser3

4   -1.383204
5   -1.252452
8   -0.575245
7   -0.394735
3   -0.277065
1   -0.273187
6    0.109534
2    0.515027
9    0.878482
0    1.565436
dtype: float64